body{
	background: url(../img/back.jpg) no-repeat;

}
.name,.school{
	background-color: #fff;
	box-shadow: 0 0 5px #5f5f5f;
}
.name h2,.school h2{
	background: #42a5f5;

}
.name h2 span,.school h2 span{
	background-color: rgba(255,255,255,0.2);

}
.name li:active,.school li:active{
	background-color:#42a5f5;
	color: #fff
}
.name li:hover,.school li:hover{
	background-color:#42a5f5;
	color: #fff
}
.school input{
	color: #d1d1d1;
	background: url(../img/coins.png) no-repeat;
	background-position: 100% 111%;
	background-size: 23%;
}
.container{
	background: #e4e4e4;
	box-shadow: 0 0 5px #5f5f5f;
}
.container .head{
	background: url(../img/back1.jpg) no-repeat;
	background-size: 100% 100%;
}
.container h1{
	background: rgba(65,164,245,0.4);
	color: #fff;

}
.container .pen{
	background-color: rgba(65,164,245,1);
	background-image: url(../img/pen.png);
	background-repeat: no-repeat;
	background-size: 50% 50%;
	background-position: center center;
}
.chooser div{
	border: #B6B6B6 solid 1px;
	background-color: #fff

}
.chooser input{
	color: #d4d4d4;

}
.chooser i{
	background-image: url(../img/coins.png);
	background-size: 215%;
}
.chooser #school i{
	background-position: 69% 33%;
}
#school i.active{
	background-position:-6% 33%
}
.chooser #name i{
	background-position: -8% 58%;
}
#name i.active{
	background-position: 69% 58%
}
.chooser b{
	color: rgba(0,0,0,0);
	background-color: #ccc;
	background-image: url(../img/coins.png);
	background-repeat: no-repeat;
	background-position: 141% -2%;
	background-size: 174%;
}
.chooser span{
	color: #dbdbdb;

}
.chooser .active{
	border-color: #42a5f5;
}
.chooser .active input{
	color: #000;	
}
.chooser .active b{
	background-color: #42a5f5;
}
.sub button{
	background-color: #cbcbcb;
	color: #fff;
}
.sub button:active{
	border:none;
	background-color: #3b94dc
}
.sub .active{
	background-color: #42a5f5
}