img{
	width:90%;
	position:fixed;
	top:50px;
	margin-left:5%;
	z-index:1000
}

.main{
	width: 100%;
	height: 76%;
}
.head{
	width: 100%;
	height: 60%;
	background: url(../img/back2.jpg) no-repeat;
	background-size: 100% 100%;
}
.main h1{
	position: relative;
	top: -1.8em;
	background-color: rgba(66,165,246,0.4);
	color: rgba(255,255,255,0);
	font-size: 1.2em;
	font-family: "楷体";
	font-weight: normal;
	line-height: 1.7em;
	text-indent: 2em;
}
.main .p{
	position: relative;
	top: -2.2em;
	height: 40%;
	padding: 5px 0px 18px 0px;
	background-color: rgba(66,165,246,1);
	box-shadow: 0 1px 5px #9fbbd1;
	color: #d9faff;
}
.main .p p{
	padding: 0 23px;
	height: 95%;
	font-size: 1em;
	text-indent: 1.6em;
	line-height: 1.7em;
	overflow: scroll;
}
ul{
	height: 24%;
	text-align: center;
	background-color: #fff
}
ul li{
	display: inline-block;
	width: 30%;
	padding-top: 26%;
	text-align: center;
	font-size: 1em;
	color: #919191;
	background-image: url(../img/coin.png);
	background-size: 205%;
	background-repeat: no-repeat;
}
#need{
	background-position: -25% 66%;
}
#app{
	background-position: 48% 66%;
}
#contact{
	background-position: 125% 66%;
}
.hid{
	display: none;
	position: absolute;
	left: 10%;
	top: 105px;
	width: 80%;
	height: 60%;
	background-color: #fff;
	box-shadow: 0 0 2px #9fbbd1;
	border-radius: 7px;
	z-index: 3
}
.hid h2{
	padding: 10px 30px;
	color: #fff;
	background-color: #42a5f5;
	border-radius: 7px 7px 0 0 ;
	text-align: center;
	font-size: 1.1em;
	font-weight: normal; 
}
.hid p{
	height: 48%;
	margin: 20px 0;
	padding: 0 30px;
	font-size: 1em;
	color: #919191;
	overflow-y: scroll;
}
.hid p b{
	color: #000;
	font-weight: normal;
}
.hid a{
	display: block;
	width: 65%;
	margin: 20px auto;
	padding: 18px 0;
	background-color: #38d3a9;
	background-image: url(../img/ele.png);
	background-repeat: no-repeat;
	background-size: 28%;
	background-position: 10% center;
	color: #fff;
	text-align: center;
	font-size: 1em;
	text-align: center;
	border-radius: 28px;
	box-shadow: 0 2px 0 #d9d9d9;
}
.hid img{
	width: 100%;
	position: static;
	margin: 0;
	z-index: 2;
}
#co p,#ne p{
	height: 70%;
}