#control{
	height: 100%
}
.main{
	height: 45%;
	width: 100%;
	background-color: #07b704;
}
.main h1{
	padding: 9px 0 4px 43px;
	font-size: 0.8em;
	font-weight: normal;
	color: #fff;
	background-image: url(../img/viewCoin2.png);
	background-size: 85%;
	background-position: 17px 9px;
	background-repeat: no-repeat;
}
.num{
	margin-right: auto;
	margin-left: 24%;
	color: #fff;
}
.num span{
	font-size: 7.5em;
}
.num i{
	position: relative;
	top: -2em;
	font-style: normal;
	font-size: 2em;

}
.num b{
	font-weight: normal;
	font-size: 0.9em;
	position: relative;
	left: -1.5em;
}
.people{
	padding: 5px 0 5px 12px;
	text-align: center;
	color: #fff;
	font-size:1em;
	background-image: url(../img/viewCoin2.png);
	background-repeat: no-repeat;
	background-position: -109% 21%;
	background-size: 120%;
}
.time{
	color: #fff;
	background-color: #0cd508;
	font-size: 0.9em;
	padding: 4px 8px;
}
.view{
	text-align: center;

}
.view li{
	width: 48%;
	padding-top: 34.5%;
	display: inline-block;
	font-size: 1.1em;
	background-image: url(../img/viewCoin2.png);
	background-repeat: no-repeat;
	background-size: 300%
}
.view li span{
	font-size: 0.7em
}
.view .viewAlr{
	background-position: 33% 47%;
}
.view .viewDon{
	background-position: 112% 47%;
}
.view .viewOther{
	background-position: -12% 122%;
}
.view .viewLate{
	background-position: 77% 124%;
}
/*隐藏部分的样式*/
.hid{
	display: none;
	width: 85%;
	height: 61%;
	overflow-y: scroll;
	position: absolute;
	top: 100px;
	left: 10%;
	z-index: 3;
	border-radius: 8px;
	background: #fff;
}
.hid ul{
	height: 82%;
	overflow-y: scroll;
}
.hid h2{
	border-radius: 8px 8px 0 0;
	font-size: 1.5em;
	padding: 25px 0;
	color: #fff;
	font-weight: normal;
	text-align: center;
}
.hid li{
	height: 3em;
	margin-top: 1px;
	border-top: 1px solid #dedede;
	font-size: 1.2em;
	line-height: 2.1em;
	text-indent: 2em;
}
.hid i{
	font-size: 0.7em;
}
.hid span{
	font-size: 0.5em;
}
.hid .smallp{
	text-indent: 0.5em;
	line-height: 0.7em;
}
.hid .school{
	float: left;
}
.hid .signtime{
	float: right;
	margin-right: 13px;
}
#alreadyDiv h2{
	background: #2dd057;
}
#donotDiv h2{
	background: #f87565;
}
#lateDiv h2{
	background: #e98447
}
#otherDiv h2{
	background: #3b79d7
}
@media screen and  (max-height: 464px){
	.num{
		margin-top: 2%;
	}
	.view li{
		padding-top: 30%;
	}
}
@media screen and  (min-height: 584px){
	.main h1{
		font-size: 1em;
	}
	.time{
		font-size: 1.1em;
	}
	.num span{
		font-size: 8.5em;
		font-weight: bold;
	}
	.num{
		margin-top: 4%;
	}
}
/*不同颜色/不同类*/
/*.little,.lot,.all{
	height: 100%;
}*/
/*渐变*/
/*.little .main{
	background-image:-webkit-linear-gradient(to bottom right, #f7251e, #fc655c);
	background-image:linear-gradient(to bottom right,#f7251e,#fc655c);
}
.lot .main{
	background-image:-webkit-linear-gradient(to bottom right, #1570e2, #267def);
	background-image:linear-gradient(to bottom right,#1570e2, #267def);
}
.all .main{
	background-image:-webkit-linear-gradient(to bottom right, #189308, #50c624);
	background-image:linear-gradient(to bottom right,#189308, #50c624);
}*/
/*文字阴影*/
/*.little .num span,.little .num i{
	text-shadow:8px 8px 3px #cc2a24;
}
.lot .num span,.lot .num i{
	text-shadow:8px 8px 3px #1f65c0;
}
.all .num span,.all .num i{
	text-shadow:8px 8px 3px #197d09;
}*/
/*显示时间的DIV的颜色*/
/*.little .time{
	background-color: #f3372d;
}
.lot .time{
	background-color: #1570e2;
}
.all .time{
	background-color: #34cd0a;
}*/
/*查看签到人名单按钮的背景图位置*/
/*.little .view .viewAlr{
	background-position: 21% 45%;
}
.lot .view .viewAlr{
	background-position: -11% 115%;
}
.all .view .viewAlr{
	background-position: 112% 115%;
}

.little .view .viewDon{
	background-position: 83% 45%;
}
.lot .view .viewDon{
	background-position: 50% 115%;
}
.all .view .viewDon{
	display: none;
}*/
/*弹框H2背景色*/
/*.little .hid h2{
	background-color: #f8553f; 
}
.lot .hid h2{
	background-color: #18afed; 
}
.all .hid h2{
	background-color: #4cc322; 
}*/
